@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter-sans);
    --font-mono: var(--font-geist-mono);
    --font-bold: var(--font-bebas-neue);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

.logo {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s ease-out opacity;
    background-image: linear-gradient(
        to right,
        #65b849 17%,
        #f7b423 17%,
        #f7b423 34%,
        #f58122 34%,
        #f58122 50%,
        #de3a3c 50%,
        #de3a3c 66%,
        #943f96 66%,
        #943f96 82%,
        #009fd9 82%,
        #009fd9 86%
    );

    :hover {
        opacity: 1;
    }
}
